@use '@styles/global' as *;

.main {
    overflow-y: auto; /* Add scrolling if content doesn't fit */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mf-bp-rem('margin', (
        xs: 15px,
    ));
    @include mf-bp-rem('gap', (
        xs: 10px,
        md: avg(10px, 20px),
        xl: 20px
    ));
}