@use '@scss-functions/values/px-to-rem' as *;

// screen sizes
$screen-xs : px-to-rem(0px);
$screen-sm : px-to-rem(480px);
$screen-md : px-to-rem(768px);
$screen-lg : px-to-rem(992px);
$screen-xl : px-to-rem(1200px);
$screen-xxl: px-to-rem(1600px);

$breakpoints: (
  xs : $screen-xs,
  sm : $screen-sm,
  md : $screen-md,
  lg : $screen-lg,
  xl : $screen-xl,
  xxl: $screen-xxl
);
