@use '@abstracts/variables/variables' as *;

@mixin bottom-line {
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;

    transition: border-color $animation-duration $animation;

    &:hover {
        border-bottom: 1px solid $color-primary;
    }
}
