// abstracts
@use '@styles/global' as *;
@use "sass:color";

// root styles
@use '@base/fonts';
@use '@base/reset';

// common components
@use '@scss-ui/copyrights';

html {
    font-family: 'Montserrat', Arial, sans-serif;
}

.html {
    font-style : normal;
    line-height: 1.2em;
    @include mf-bp-rem('font-size', (
        xs: $font-size-html * 0.8,
        sm: $font-size-html * 0.9,
        xl: $font-size-html,
    ));
}

// grid 3 rows start
.body {
    &--grid {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        min-height: 100vh;
    }
}
.footer,
.header,
.main {
    &--grid {
        width: 100%;
    }
}
// grid 3 rows end

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mf-bp-rem('margin', (
        xs: 15px,
    ));
    @include mf-bp-rem('gap', (
        xs: 10px,
        md: avg(10px, 20px),
        xl: 20px
    ));
}


// custom properties start
.footer {
    background-color: $color-main;
}
.header {
    background-color: $color-main;
}

.img {
    max-width: 100%;
    height: auto;
}

.logo {
    line-height: 0;
    user-select: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
    transition: opacity $animation-duration $animation;

    &:is(:focus-visible, :hover) {
        outline: none;
        opacity: $opacity-hover;
    }
}

.icon {
    fill      : white;
    transition: fill $animation-duration $animation;

    @include mf-bp-rem('width', (
        xs: 24px,
        md: 36px,
    ));
    @include mf-bp-rem('height', (
            xs: 24px,
            md: 36px,
    ));

    &:hover {
        fill: $color-link-hover;
    }

    svg {
        transition: all $animation-duration $animation;
        fill: сurrentColor;
        

        &:hover {
            opacity: $opacity-hover;
        }
    }
}

::selection {
    background: color.adjust($color-main, $lightness: -20%);
    text-shadow: none;
    color: white;
}




