// abstracts
@use '@styles/global' as *;
@use "sass:color";

// root styles
@use '@base/fonts';
@use '@base/reset';
@use '@base/animation';
@use '@base/state';

html {
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

.html {
    font-style : normal;
    line-height: 1.2em;
    scrollbar-color: hex-to-rgba($color-primary-1, 0.9) color.adjust(white, $lightness: -10%);
    scrollbar-width: thin;
}

// grid 3 rows
.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}
.footer,
.header,
.main {
  width: 100%;
}
//

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mf-bp-rem('padding', (
      xs: 15px,
  ));
  @include mf-bp-rem('gap', (
      xs: 10px,
      md: avg(10px, 20px),
      xl: 20px
  ));
}


.header,
.footer {
  display: flex;
  padding: rem(20px);

  @media screen and (min-width: $screen-md) {
    padding: rem(30px);
  }

  @media screen and (min-width: $screen-xl) {
    padding: rem(40px);
  }
}

.footer {
  justify-content: center;

  &__container {
    color: #ffffff;
  }

  &__text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(5px);
  }

  &__text {
    font-size: rem(13px);
    line-height: 1.3em;
  }
}

.img {
    max-width: 100%;
    height: auto;
}

.logo {
    line-height: 0;
    user-select: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
    @include event-opacity;
}

.icon {
    fill      : currentColor;
    transition: fill $animation-duration $animation;
}

::selection {
    background: color.adjust($color-primary-1, $lightness: -20%);
    text-shadow: none;
    color: white;
}

.btn {
    cursor: pointer;
    user-select: none;
    @include event-opacity;
}




